// TYPE

@font-face {
  font-family: 'Replica-Regular';
  src: url('assets/fonts/RepRegular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Replica-Mono';
  src: url('assets/fonts/RepMo.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Replica-Bold';
  src: url('assets/fonts/RepBold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}