// GLOBAL

html, body, div, section, main, nav, figure, p, a, h1, h2, h3, h4, h5, h6, ul, ol, li { box-sizing: border-box; margin: 0; }
article, aside, details, figcaption, figure, footer, header, main, nav, section, video, summary { display: block; }
a:focus {
  outline: none;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
  width: 100%;
  height: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
ol, ul {
	list-style: none;
	padding: 0;
}
html {
	font: 100%/1.4 $body;
	font-weight: normal;
	font-smooth: always;
	text-rendering: auto;
	color: $text-prime;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	height: 100%;
	cursor: default;
	background-color: rgb(255,255,255);
}